.FullPage{
    box-sizing: border-box;
    height: 100%;
    width:100%;
    display:flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Lemon', cursive;
   
}
