.FullPage{
    box-sizing: border-box;
    height: 100%;
    width:100%;
    display:flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Muli', sans-serif; */
    /* font-family: 'Fjalla One', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Righteous', cursive;
    /* font-family: 'Great Vibes', cursive; */
  
}
