.Title{
  background-image: url('../../../images/backGrounds/winter-1.jpg');
  background-size: cover;
  background-position:center; 
   width: 100%;
    height: 100%;
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;

 
}

.IconContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}