.About {
    background-image: url('../../../images/backGrounds/winter-2.jpg');
    /* background-color: rgb(19, 143, 132); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.About-Content {
    padding: 50px;
    font-family: 'Lemon', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}