.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color:rgba(109, 109, 109, 0.5);
    display: flex;
    justify-content:space-between ;
    align-items:center;
    padding: 0 20px;
    z-index: 90;
    box-sizing: border-box;
}
.Btn {
    display: inline-block;
    padding: 5px;
   
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .Btn:hover {border: 1px solid white}
  
  .Btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

@media(max-width:499px){
    .DesktopOnly{
        display: none;
    }
}


