.NavBarItem{
    margin:10px o;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.NavBarItem a{
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display:block;
    padding: 10px 0;
}
.NavBarItem a:hover,
.NavBarItem a:active,
.NavBarItem a.active{
   
    color: #40a4cb;
    
}
@media (min-width :500px){
    .NavBarItem{
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    .NavBarItem a {
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;   
    }
    .NavBarItem a:hover,
    .NavBarItem a:active,
    .NavBarItem a.active{
        background-color: #e3e5e6;
    }
}