.Skill{
    border-radius: 50%;
    background-color: rgb(226, 253, 253);
    width: 15%;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
margin: 2%;  

 }
.Skill h1{
    align-self: center;
    justify-self: center;
}
.Image{
    /* height: 30px;
    width: 30px; */
    height: 20%;
    margin: 0 20px;
}
.Titr{
    font-family: 'Lemon', cursive;;
    padding: auto 100px;
    font-size: 60%;
}
@media(max-width:499px){
    .Titr{
        display: none;
    }
    .Image{
        position: relative;
        top:-20%;
    }
}

.Container{

        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        justify-content: space-around;
        height: 100%;
      
    
            }

.Expertise{
                border:"1px solid orange";
                border-radius: 50%;
            }


            circle {
                fill: white;
                stroke: black;
                stroke-width: 8;
                stroke-dasharray: 282.5;
                stroke-dashoffset: 1000;
                animation: rotate 5s linear ;
              }
          
              @keyframes rotate {
                to {
                  stroke-dashoffset: 0;
                }
              }
          