
.Degrees{
  width: 100%;
  height: 100%;
  background-image: url('../../../images/backGrounds/winter-3.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 70%;
 justify-content: space-between;
align-content: space-around;
position: relative;
z-index: -2;
 
}
.College{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.Article{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  top:60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
} 
.DownIcon-3{
position: absolute;
width: 30px;
bottom: 0;
left:50%;
margin: 10px;
}